# dependencies
node_modules

# builds / caches
.next
out
dist
.turbo
.parcel-cache
coverage
building

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.DS_Store
.vscode/
.idea/
*.swp
